@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: #171717;
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

/* プレースホルダーテキストの色を設定 */
input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #9ca3af !important;
  opacity: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
